<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras semper, sem eu porttitor congue, leo lorem mattis lectus, a ornare metus lectus laoreet ligula. Duis bibendum lacinia nibh. Vestibulum id nulla at <a href="/">nulla scelerisque</a> auctor.
</p>

<div class="input">
  <%= edit_freeze_state @character, :name %>
  <label for="character_name"><%= "Name".t %></label>
  <%= display_attribute :character, :name %>
</div>