<% content_for :title do -%>
  <%= "encyclopedia".t %>
<% end %>

<% content_for("headline") do -%>
  <div class="parent-breadcrumb">&nbsp;</div>
  <h2><%= "Encyclopedia".t %></h2>
  <div class="small">&nbsp;</div>
<% end %>