Hello!

This email was sent to you in reply to your registration request with 
OMDB (http://www.omdb.org).

Your account has not been activated yet. In order to complete the signup 
procedure, please use the link below.

http://www.omdb.org/account/activate/<%= @user.activation_code %>

Thanks!
Your omdb team
