Hallo!

Du hast dich bei omdb (http://www.omdb.org) registriert. 

Dein Account wurde noch nicht freigeschaltet. Um die Registrierung abzuschließen, 
klicke bitte auf den folgenden Link oder kopiere diese URL in die Adressleiste deines Browsers:

http://www.omdb.org/account/activate/<%= @user.activation_code %>

Vielen Dank!
Dein omdb-Team
