Hallo!

Deine Registrierung auf omdb (http://www.omdb.org) war erfolgreich, willkommen in der omdb-Community! Als registrierter Nutzer stehen dir ab sofort alle omdb-Funktionen zur Verfügung. Du kannst nun auch über die Qualität von Filmen abstimmen, Bilder auf omdb hochladen, usw. Alle Vorteile von registrierten Nutzern kannst du unter http://www.omdb.org/content/Help:UserRights nachlesen.

Wir freuen uns über deine Mitarbeit, denn omdb lebt als freie Mediendatenbank vom Engagement der Nutzer. Falls du noch nicht viel omdb-Erfahrung hast, kannst du in der omdb-Hilfe unter http://www.omdb.org/content/Help nachlesen, z.B. wie man einen neuen Film anlegt (http://www.omdb.org/content/Help:AddNewMovie) oder bestehende omdb-Seiten bearbeitet.

Als Mitglied der omdb-Community bist du übrigens auch für andere Nutzer sichtbar. Legst du einen neuen Film in der Datenbank an, wird dein Name am rechten Bildrand dieser Filmseite dauerhaft angezeigt (Infobox "Bearbeiter"). Und auch wenn du Änderungen an existierenden Seiten vornimmst, wird dein omdb-Name dort festgehalten solange bis jemand anders nach dir weitere Informationen zu dieser Seite hinzufügt.

Wir haben dir auch eine persönliche Community-Website angelegt. Unter http://www.omdb.org/user/my_profile kannst du dich anderen Filmfreaks präsentieren, deine Beste-Filme-Aller-Zeiten-Liste veröffentlichen oder einfach deine schon vorhandene Website verlinken.

Also, auf geht's! Viel Spaß beim Mitmachen auf der open media database!

Das omdb-Team
