Hello! 

Your registration on omdb (http://www.omdb.org) has been successful - welcome to the omdb community! As a registered user all omdb functions are available to you from now on. You can vote on the quality of films, upload pictures on omdb, etc. In order to see all advantages of registered users, please click see http://www.omdb.org/content/Help:UserRights.

We are glad about your cooperation since omdb as a free media database depends on the engagement of every single user. If you don't have a lot of experience with omdb yet, please consult our help site (http://www.omdb.org/content/Help). There you will learn how to add new films to the database or how to add existing omdb pages.

As a member of the omdb community you are also visible for other users. If you add a new film to the database, your username will be displayed permanently on the film site (section editors on the right handside). And also if you carry out any changes on existing sites, your name will show there - as long as somebody else adds further information to this site. 

We also provide a personal community website for you. On http://www.omdb.org/user/my_profile you can present yourself to other film freaks, publish your all-time-movie-favourites or simply link your own website.

Alrighty - here it goes! We hope you will have fun on omdb! Thank you for helping us to extend the open media database!

Your omdb team 
