<% content_for :headline do -%>
  <div class="parent-breadcrumb">&nbsp;</div>
  <h2><%= @page.page_name.t if @page %></h2>
  <div class="small">&nbsp;</div>
<% end -%>

<% content_for :headline_details do -%>
<% end -%>

<% content_for :left_column do -%>
<% end -%>
