<%= render :partial => 'header' %>

<div id="content" class="broadpage">
  <%= render :partial => 'common/views' %>
  
  <table id="filmography">
  <% @log_entries.each do |log_entry| %>
    <%= display_contrib_log_entry( log_entry ) %>
  <% end %>
  </table>
  <%= render :partial => 'common/paginate', :locals => { :collection => @log_entries } %>  
</div>
