<%= render :partial => 'header' %>

<div id="content">
  <%= render :partial => 'common/views' %>
  <%= render :partial => 'foto_foo' %>
  <p>some text</p>
  <div style="center">
  <%= javascript_tag 'FotoFooWidget.render()' %>
  </div>
</div>
  