<div class="result-box">
  <div class="image">
    <%= link_to thumbnail_image(search_box.image, :medium), :controller => 'job', :id => search_box.id %>
  </div>
  <div class="link">
    <%= link_to_object search_box %>
    <div class="small"><%= search_box.department.local_name( @language ) %></div>
  </div>
</div>