<h4><%= @language.english_name.t %></h4>
<p>
  <%= "Please click on the add button, if this language is part of the original version of this movie".t %>
</p>
<input type="hidden" name="language" value="<%= @language.id %>" />
