<%= render :partial => 'header' %>
<%= render :partial => 'overview_details' %>

<div id="content" class="list-view">
  <%= render :partial => 'common/views' %>  

  <%= render :partial => 'parts' %>
</div>
