<div id="new-movie">
  <%= link_to_function 'Add New Movie'.t, lightbox( :controller => 'movie',
                                                    :action     => 'new' ),
                                          :class => 'button' %>
</div>
